body {
    background-color: sandybrown;
    margin: 0;
    box-sizing: border-box;
    margin-top: 150px;
  }
  
  .container {
    text-align: center;
    border : 5px solid black;
    border-style: dotted;
    border-radius: 30px;
    width: 400px;
    height: 250px;
    background-color: pink;
    background-image: url("bg.jpg");
    background-position-x: -5pt;
    background-position-y: -5pt;
  }
  
  #time {
    font-size: 50px;
  }
  
  .btns-container {
    margin: 10px 0;
  }
  
  button {
    padding: 8px 15px;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
  }
  button:hover {
    filter: grayscale(0.5);
  }
  button:focus {
    outline: none;
  }
  
  #start_btn {
    background: green;
  }
  #pause_btn {
    background: blue;
    display: none;
  }
  #reset_btn {
    background: red;
    display: none;
  }
  #total {
    display: none;
  }
  